/* Colors */
/* https://coolors.co/2f6d83-4c061d-d17a22-b4c292-c7eae4 */
//set breakpoint sizes
$break-small: 30em;
$break-large: 60em;

:root {
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
  --primary-color: #2f6d83;
  --secondary-color: #4c061d;
  --accent1: #d17a22;
  --accent2: #b4c292;
  --body-font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --sm-break: $break-small;
  // set up font ratios
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio)); // 5px
  --s-2: calc(var(--s-1) / var(--ratio)); // 8px
  --s-1: calc(var(--s0) / var(--ratio)); // 12px
  --s0: 1rem; // 18px
  --s1: calc(var(--s0) * var(--ratio)); // 27px
  --s2: calc(var(--s1) * var(--ratio)); // 40px
  --s3: calc(var(--s2) * var(--ratio)); // 60px
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

@mixin breakpoint($break) {
  @if $break == large {
    @media (min-width: $break-large) {
      @content;
    }
  } @else if $break == medium {
    @media (min-width: $break-medium) {
      @content;
    }
  } @else if $break == small {
    @media (min-width: $break-small) {
      @content;
    }
  } @else {
    @media ($break) {
      @content;
    }
  }
}

// format a list horizontally with spacing
@mixin horizontal-list($spacing: var(--s1)) {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  & > * + * {
    margin-left: $spacing;
    margin-top: 0;
  }
}

// format a list vertically with spacing
@mixin vertical-list($spacing: var(--s-3)) {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > * + * {
    margin-top: $spacing;
    margin-left: 0;
  }
}
