---
title: Musings
layout: layouts/home.njk
topic: extrasTags
eleventyNavigation:
  key: Musings
  order: 3
templateClass: tmpl-home
---
{# <section class="tag-list">
  {% include 'tags-list.njk' %}
  </section> #}

<div>
<h1 class="capitalize">Musings</h1>
{% include "topic-card.njk" %}
{# {% set postslist = collections.activities %}

{% include "postslist.njk" %} #}

{# <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p> #}
</div>
