---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
templateClass: tmpl-list tmpl-home
---
<section class="tag-list">
  {% include 'tags-list.njk' %}
  </section>
<div>
<h1 class="capitalize">{{ tag }}</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
</div>
