<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title + ' | ' + title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:url" content="{{ metadata.url + page.url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ metadata.title + ' | ' + title }}"/>
    <meta property="og:description" content="{{ description or metadata.description }}"/>
    <meta property="og:image" content="https://www.your-domain.com/path/image.jpg"/>
    <link
    rel="stylesheet" href="{{ '/css/index.css' | url }}"> {# <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}"> #}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body {% if templateClass %} class="{{ templateClass }}" {% endif %}>
    <header>
      <div>
        <h2 class="logo">
          <a href="{{ '/' | url }}"><img src="/img/whitebackgroundlogo.png">{{ metadata.title }}</a>
        </h2>
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <div>
          <input type="checkbox" class="menu__toggle">
          <label class="menu__icon">Menu</label>
          <label class="menu__x-icon">X</label>
          <ul class="menu__nav">
            {%- for entry in collections.all | eleventyNavigation %}
              <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
          </ul>
        </div>
      </div>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <div>
        <section class="donate">
          <div id="text-7" class="widget widget_text">
            <p>If you have enjoyed my articles, make a donation to support future content! Any contribution is greatly appreciated!</p>
            <p>-Nathan</p>
          </div>
          <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="APWBJ96N42LZA"/>
            <input type="hidden" name="currency_code" value="USD"/>
          <input
            type="image"
              src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
              border="0"
              name="submit"
              title="PayPal - The safer, easier way to pay online!"
              alt="Donate with PayPal button"/>
          {# <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" /> #}
          </form>
        </section>
        <section class="copy">
          <p>&copy; 2022 Backcountry Basics.</p>
          <p class="social">
          <a href="https://www.facebook.com/Backcountry-Basics-102359941996945" target="_blank"><img src="img/facebook.svg" alt="Facebook logo"></a>
          <a href="https://www.instagram.com/backcountry_nathan/" target="_blank"><img src="img/instagram.svg" alt="Instagram logo"></a>
          </p>
        </section>
        <div></footer>
        <!-- Current page: {{ page.url | url }} -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-193652199-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-193652199-1');
</script>


      </body>
    </html>
  </body>
</html>
