---
layout: layouts/base.njk
templateClass: tmpl-home
---
<script>
{% include 'scroll-menu.js' %}
</script>
<img src="/img/hero-mobile.jpg" srcset="/img/hero-mobile.jpg 400w, /img/home-banner.jpg 2000w">
<section class="content">

{{ content | safe }}
</section>
